.on-sale-price {
  .regular-price {
    position: relative;
    text-decoration: none;

    &::before {
      border-top: 2px solid rgba(242, 57, 57, 0.7);
      bottom: 0;
      content: ' ';
      display: block;
      height: 12px;
      left: 0;
      position: absolute;
      transform: rotate(-7deg);
      width: 100%;
    }
  }
}
