/index.php
/license.txt
/readme.html
/xmlrpc.php
/wp-*.php
wp-admin/
wp-includes/
wp-content/index.php
wp-content/debug.log
wp-content/uploads/*
!wp-content/uploads/.htaccess
wp-content/cache/
wp-content/languages/
wp-content/upgrade/
wp-content/webp-express/
wp-content/themes/twenty*
wp-content/themes/index.php
wp-content/plugins/index.php
.maintenance
.well-known/
/vendor
